button#btnRegister {
  box-shadow: none;
  background-color: #FE4400;
  color: var(--white);
  transition: all .15s;
}

button#btnRegister:hover {
  filter: brightness(80%);
}

div#temLogin {
  color: #404099;
}