header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 29.6rem;

  margin: 1.6rem auto 0 auto;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 2.9rem auto 0 auto;
}


main .img-container {
  width: 29.6rem;
  height: 29.6rem;

  background-color: var(--light-grey);
}

main .main-description {
  width: 29.6rem;
  height: auto;

  margin: 1.6rem auto 2.4rem auto;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
}

main .form-container {
  width: 29.6rem;
  height: 29.6rem;
}

main .btn-container {
  height: 16px;
  margin-top: 5rem; 
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.container form {
  display: contents;
}

.container form input {
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  padding-left: 5px;
}

.container form select {
  width: 100%;
  height: 40px;
  margin-top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
} */
