body {
  margin: 0;
  font-family: 'Metropolis Regular', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none !important;
  outline: none !important;
  box-sizing: border-box;
}

html {
  /* Global color variables */

  --white: #ffffff;
  --black: #2a2a2a;
  --grey-light: #fafafa;
  --grey: #eaeaea;
  --dark-grey: #6a6a6a;
  --orange: #fe4400;
  --dark-orange: #d03800;
  --blue: #404099;
  --light-blue: #a8a8d0;
}

/* Custom classes for StepBar Component: */

.step-disabled {
  background-color: var(--light-blue);
  width: 8px;
  height: 8px;
  margin: 0 8px;
  border-radius: 50%;
}

.step-active {
  background-color: var(--blue);
  width: 16px;
  height: 16px;
  margin: 0 8px;
  border-radius: 50%;
}

.icon-size {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* ------------------------------------- */

/* Custom classes for Calendar at Schedule page: */

.calendar-size {
  width: 33em;
}

/* ------------------------------------- */

/* Custom classes for consultor page: */

.card {
  background-color: var(--light-grey);
  border: 1px solid var(--grey);
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(74, 74, 74, 0.08);
  border-radius: 8px;
}

/* ------------------------------------- */

/* Custom classes for buttons and links: */

.btn-orange,
.btn-orange:focus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 2.3rem;
  padding: 1.5rem;

  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;

  background-color: var(--orange);

  border: 0.1rem solid var(--orange);
  border-radius: 8px;

  transition: 0.5s all ease;
  cursor: pointer;
}

.btn-orange:disabled {
  color: var(--dark-grey);
  background-color: var(--grey);
  border: 0.1rem solid var(--grey);
  cursor: not-allowed;
}

.btn-orange:disabled:hover {
  background-color: var(--grey);
  border: 0.1rem solid var(--grey);
  color: var(--dark-grey);
}

.btn-orange:hover {
  color: var(--white);
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}

.btn-white {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 2.3rem;
  padding: 1.5rem;

  color: var(--blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;

  background-color: var(--white);

  border: 0.1rem solid transparent;
  border-radius: 0.8rem;

  transition: 0.5s all ease;
  cursor: pointer;
}

.hover:hover {
  border-color: var(--orange);
}

.link-hover:hover {
  color: var(--dark-orange) !important;
}

/* ------------------------------------- */

/* Custom class for input layout: */

.form {
  height: 2.3rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
}

.checkbox-size {
  height: 1.5rem;
  width: 1.5rem;
  border: 0.1rem solid var(--dark-grey);
  border-radius: 0.9rem;
  cursor: pointer;
}

/* ------------------------------------- */

/* Custom classes for text color and size properties: */

.text-orange {
  color: var(--orange);
}

.text-dark-orange {
  color: var(--dark-orange);
}

.text-blue {
  color: var(--blue);
}

.text-black {
  color: var(--black);
}

.text-grey {
  color: var(--dark-grey);
}

.fs-10 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .md-fs-16 {
    font-size: 16px;
  }
}

/* ------------------------------------- */

/* Custom classes for font-weight property: */

.fw__light {
  font-family: 'Metropolis Light';
}

.fw__medium {
  font-family: 'Metropolis Medium';
}

.fw__bold {
  font-family: 'Metropolis Bold';
}

.fw__extra-bold {
  font-family: 'Metropolis Extra Bold';
}

/* ------------------------------------- */
