body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  /* Global color variables */

  --white: #ffffff;
  --light-grey: #c3c3c3;
  --dark-grey: #414141;
  --marine-blue: #1a0d2e;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.step-disabled {
  background-color: #A8A8D0;
  width: 8px;
  height: 8px;
  margin: 0 8px;
  border-radius: 50%;
}

.step-active {
  background-color: #404099;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  border-radius: 50%;
}

.btn-orange {
  background-color: #fe4400;
  border-radius: 8px;
  height: 2.3rem;
}

.text-orange {
  color: #fe4400;
}

.text-blue {
  color: #404099;
}

.text-black {
  color: #2a2a2a;
}

.hover:hover {
  border-color: #fe4400;
}

.fs-10 {
  font-size: 10px;
}

.card {
  background-color: #FAFAFA;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(74, 74, 74, 0.08);
  border-radius: 8px;
  }


.btn-orange:hover {
  background-color: #db4610;
  border-radius: 5px;
  height: 2.3rem;
}
